@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --couleurSite: #2C2C2E;
    --couleurBouton: #4527A0;
    --couleurTexte: #CDB8FF;
    --hoverBouton: #F0FFB5;
    --blancCassé: #F8F8F8;
    --fondProfil: #2C0047;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* <---------- Police d'écriture ----------> */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--couleurSite);
    color: var(--couleurTexte);
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}

h3 {
    font-weight: 500;
    font-size: 26px;
}

h4 {
    font-weight: 500;
}

button {
    font-weight: 500;
    font-size: 18px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: var(--blancCassé);
}


/* <---------- HEADER ----------> */

header {
    height: 100vh;
    background-image: url(Images/ordi_portfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#navigation {
    padding: 10px 0;
}

.liste_ancre {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.ancre_nav {
    display: inline-block;
    text-decoration: none;
    color: var(--couleurTexte);
    background-color: var(--couleurBouton);
    font-weight: 500;
    font-size: 18px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: background 0.3s;

}

.ancre_nav:hover {
    color: var(--couleurBouton);
    background-color: var(--couleurTexte);
    border: 2px solid var(--couleurBouton);
}

.presentation {
    padding-top: 4em;
}

header h1 {
    text-decoration: underline;
    margin-bottom: 40px;
}

.important {
    font-size: 1.5em;
    color: var(--couleurTexte)
}

#navigationSimple {
    width: 30%;
    position: fixed;
    bottom: 10px;
    left: 35%;
    background-color: var(--couleurBouton);
    border-radius: 20px;
    padding: 5px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.navigationVisible {
    visibility: visible;
    opacity: 1;
}

#navigationSimple .liste_ancre {
    gap: 10px;
}

#navigationSimple .ancre_nav {
    background-color: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    align-content: center;
}

#navigationSimple .ancre_nav:hover {
    background-color: var(--couleurTexte);
}


/* <---------- MAIN ----------> */
/* <---------- A PROPOS ----------> */

#profil {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#profil > div {
    align-content: center;
    width: 50%;
}

#profil > div > div {
    margin-top: 30px;
}

#profil img {
    padding: 76px 0;
}

#profil div h2 {
    margin-bottom: 30px;
}

.CTA {
    background-color: var(--couleurTexte);
    color: var(--couleurBouton);
    border: 2px solid transparent;
}

.CTA:hover {
    color: var(--couleurTexte);
    background-color: var(--couleurBouton);
    border: 2px solid var(--couleurTexte);
}

.CTA2 {
    background-color: transparent;
    color: var(--couleurTexte);
    border: 2px solid var(--couleurTexte);
}


/* <---------- COMPETENCES / PARCOURS ----------> */

#competences, #parcours, #projets, #contacter {
    height: 100vh;
    text-align: center;
    padding: 10px 30px;
}

#competences h2, #parcours h2, #projets h2 {
    padding-bottom: 20px;
}

#competences > div, #parcours > div, #projets > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.fond_bloc {
    width: 40%;
    background-color: var(--fondProfil);
    padding: 20px;
    border-radius: 20px;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container > .card {
    padding: 10px 20px;
    width: 20%;
    border: 1px solid var(--couleurTexte);
    border-radius: 10px;
}

.container img {
    width: 70%;
}

.niveauT {
    margin-top: 5px;
    font-size: 14px;
}


/* <---------- PARCOURS ----------> */

#parcours .card {
    padding: 20px;
    width: 38%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--fondProfil);
    border: none;
}

#parcours .fond_bloc {
    background-color: transparent;
    padding: 0 20px;
}


/* <---------- PROJETS ----------> */

.cardProjet {
    width: 25%;
    box-shadow: 0 0 10px var(--couleurTexte);
    border-radius: 10px;
}

.cardProjet img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 10px;
}

.cardProjet h4 {
    color: var(--blancCassé);
}

.cardProjet a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: var(--couleurTexte);
    margin: 10px 0;
}


/* <---------- CONTACTER ----------> */

.formulaire {
    box-shadow: 0 0 10px var(--hoverBouton);
    width: 40%;
    margin: auto;
    padding: 10px 0;
}

.formulaire h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formContact {
    position: relative;
}

.formContact label {
    position: absolute;
    top: -0.6rem;
    left: 5rem;
    background-color: var(--couleurSite);
    padding: 0 3px;
}

.formContact input, .formContact textarea {
    width: 70%;
    background-color: transparent;
    border: 2px solid var(--couleurTexte);
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--blancCassé);
    outline: none;
}

textarea {
    resize: none;
}

.formulaire button {
    width: 30%;
    margin: auto;
    padding: 10px;
}


/* <---------- FOOTER ----------> */

footer {
    background-color: #BFD7FF;
    height: 80vh;
    text-align: center;
}

footer p, footer h2 {
    color: var(--couleurBouton);
    padding: 20px 0;
}

#vague {
    width: 100%;
    background-color: var(--couleurSite);
}